In [1]:
import pandas as pd

In [2]:
# Ganti 'melb_data.csv' dengan lokasi atau path file CSV sesuai dengan lokasi
nama_file = "melb_data.csv"

# Membaca file CSV dan menyimpannya dalam DataFrame 'dataframe'
dataframe = pd.read_csv("melb_data.csv")

# Menampilkan lima baris pertama dari dataset
dataframe.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
# Menampilkan nama kolom-kolom dari DataFrame 'df'
print(df.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
# Menghapus baris yang memiliki nilai NaN dari DataFrame 'df'
df = df.dropna()

In [5]:
y = df.Price
print(y)

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [6]:
# Memilih fitur-fitur yang akan digunakan
Features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

# Mengambil subset data dengan fitur-fitur yang telah dipilih
x = df[Features]

# Menampilkan statistik deskriptif menggunakan fungsi describe
description = x.describe()

# Menampilkan hasil statistik deskriptif
print(description)

In [7]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [8]:
from sklearn.tree import DecisionTreeRegressor

# Membuat model DecisionTreeRegressor
Model = DecisionTreeRegressor(random_state=1)

# Melatih model dengan data 'x' sebagai fitur dan 'y' sebagai target
Model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [9]:
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(Model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

MODEL VALIDATION

In [10]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = Model.predict(x)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

# Pemisahan data menjadi data pelatihan dan data validasi
train_X, val_X, train_y, val_y = train_test_split(x, y, random_state=0)

# Membuat model DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=0)

# Melatih model dengan data pelatihan
melbourne_model.fit(train_X, train_y)

# Membuat prediksi pada data validasi
val_predictions = melbourne_model.predict(val_X)

# Menghitung Mean Absolute Error (MAE) sebagai metrik evaluasi
mae = mean_absolute_error(val_y, val_predictions)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 271598.0400258231

In [12]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    # Membuat model DecisionTreeRegressor dengan jumlah maksimum daun yang ditentukan
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    
    # Melatih model dengan data pelatihan
    model.fit(train_X, train_y)
    
    # Membuat prediksi pada data validasi
    preds_val = model.predict(val_X)
    
    # Menghitung Mean Absolute Error (MAE) sebagai metrik evaluasi
    mae = mean_absolute_error(val_y, preds_val)
    
    return mae

In [13]:
# Compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 50  		 Mean Absolute Error:  279794
Max leaf nodes: 500  		 Mean Absolute Error:  261718
Max leaf nodes: 5000  		 Mean Absolute Error:  271320